<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS}MyCircle/mycircle.css"/>
    <title>我的圈子</title>
</head>
<body>


<!--浮动框-->
<div class="lowright">
    <div id="back-to-top" style="background: url('{$Think.const.HOME_IMGS}/blackTop.gif')" ></div>
</div>



<!--nav导航条信息1-->
<div class="nav-container">
    <img class="nav-logo" src="{$Think.const.HOME_IMGS}redLogo.png" title="logo">
    <img class="nav-caption" src="{$Think.const.HOME_IMGS}caption.png" title="发现另一个你！">
    <ul class="nav-bar">
        <li><a href="{$Think.const.URL}Index/index">首页</a></li>
        <li><a href="{$Think.const.URL}Circle/index">圈子</a></li>
        <li><a  href="{$Think.const.URL}Game/index">游戏</a></li>
        <li><a class="active" href="{$Think.const.URL}MyCircle/index">我的圈子</a></li>
    </ul>
    <form action="" class="nav-form">
        <input class="nav-form-search" type="text" placeholder="搜索附近的圈子">
        <input class="nav-form-submit" style="background: url('{$Think.const.HOME_IMGS}search.png') no-repeat center"
               type="submit" value="">
    </form>
</div>

<!--圈子选择部分-->
<div class="circle-select-main">
    <div class="circle-select">
        <div class="circle-select-title">
            <p>请选择圈子</p>
        </div>
        <form class="circle-select-circle" action="{$Think.const.URL}MyCircle/index" method="post">
            <volist name="concrete_circle_info" id="circle">
            <volist name="circle" id="circle_info">
            <label><input class="circle-check"  name="circle" type="checkbox" value="{$circle_info.circle_id}" /><a>{$circle_info.circle_name}</a></label>
           <!--  <label><input name="circle" type="checkbox" value="" /><a>南湖校区</a></label>
            <label><input name="circle" type="checkbox" value="" /><a>鉴湖校区</a></label>
            <label><input name="circle" type="checkbox" value="" /><a>狮城名居</a></label> -->
            </volist>
            </volist>
            <input class="circle-select-submit" type="submit" value="筛选">
        </form>
        
    </div>
</div>


<!--帖子部分-->
<div class="post-main">
    <volist name="circle_post" id="post">
    <div class="post-main-post">
    <div class="post-left">
        <div class="post-left-main">
            <img class="post-headportrait" src="{$Think.const.HOME_IMGS}MyCircle/headportrait.jpg">
            <img class="post-discussion" src="{$Think.const.HOME_IMGS}MyCircle/discussion.png">
            <p class="post-joinin">这里是参与人数</p>
            <img class="post-lastpost" src="{$Think.const.HOME_IMGS}MyCircle/lastpost.png">
            <p class="post-lasttime">{$post.post_time}</p>
        </div>
    </div>
    <div class="post-right">
        <div class="post-game">
            <p><a>升升公寓</a>-><a>{$post.post_game}</a>-><a>{$post.post_server}</a></p>
            <!-- 判断用户的权限 -->
            <?php if($userid==1){ ?>
            <p class="post-admin-boutique">加精</p>
            <?php } if($userid==$post['user'] | $user_id==1){ ?>
            <p class="post-admin-delete">删除</p>
            <?php } ?>
        </div>
        <div class="post-title">
            <a href="/cog/index.php/Home/User/index?post_id={$post.post_id}">{$post.post_title}</a>
        </div>
        <div class="post-content">
            <p>{$post.post_content}</p>
        </div>
        <div class="post-postpic-main">
            <!-- <div class="post-postpic">
                <img class="post-postpic" src="{$Think.const.HOME_IMGS}MyCircle/headportrait.jpg">
            </div>
            <div class="post-postpic">
                <img class="post-postpic" src="{$Think.const.HOME_IMGS}MyCircle/headportrait.jpg">
            </div>
            <div class="post-postpic">
                <img class="post-postpic" src="{$Think.const.HOME_IMGS}MyCircle/headportrait.jpg">
            </div> -->
        </div>
    </div>
   </div>
   </volist>
</div>
<script src="{$Think.const.HOME_JS}/jquery.js"></script>
<script>
    //返回顶部
    $("#back-to-top").hover(function(){
        $(this).css("background-position","0 81px");
    },function(){
        $(this).css("background-position","0 0");
    }).click(function(){
        $("body").scrollTop(0);
    });
    $(".circle-check").click(function(){
        if($(this).prop("checked")){
            $(this).siblings("a").css("color","orange");
        }else {
            $(this).siblings("a").css("color","black");
        }
    });
</script>
</body>
</html>