/*网页初始化css来实现不同浏览器的兼容性*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p {
    margin: 0;
    padding: 0;
}

/*网页的body的默认字体以及背景颜色*/
body {
    background: rgb(250, 250, 250);
    font-family: "Microsoft YaHei", sans-serif;
}

/*清除超链接a的默认样式*/
a {
    text-decoration: none;
    color: black;
}

/*清除ul li的默认样式*/
ul {
    list-style: none;
}
/*nav部分*/
.nav-container {
    position: relative;
    background: rgb(23,23,23);
    margin: 33px auto 20px auto;
    width: 1200px;
    height: 55px;
    border-radius: 5px;
}

/*nav-logo*/
.nav-logo {
    margin-left: 50px;
    width: 60px;
    height: 55px;
    cursor: pointer;
    float: left;
}

/*nav-发现另一个你*/
.nav-caption {
    width: 200px;
    height: 55px;
    float: left;
    margin-left: 20px;
}

/*nav-导航条及按钮*/
.nav-bar {
    width: 450px;
    height: 55px;
    float: left;
    margin-left: 20px;
}

.nav-bar a {
    color: rgb(230, 230, 230);
    margin-left: 20px;
    width: 80px;
    height: 55px;
    float: left;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
}

.nav-bar a:hover {
    color: white;
    font-size: 18px;
}

a.active {
    color: white;
    font-size: 18px;
}

.nav-form {
    position: absolute;
    width: 280px;
    height: 35px;
    right: 100px;
    margin-top: 10px;
}

.nav-form-search {
    width: 200px;
    height: 30px;
    float: left;
    text-indent: 10px;
}

.nav-form-submit {
    border: none;
    position: absolute;
    top: 3px;
    left: 170px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.lowright{
    position: fixed;
    float: right;
    height: 240px;
    width: 60px;
    bottom: 50px;
    right: 30px;
}
.lowlattice{
    height: 58px;
    width: 58px;
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 58px;
    font-family: "黑体",sans-serif;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgb(23,23,23);
    cursor: pointer;
}
.lowlattice:hover{
    box-shadow:2px 3px 4px rgb(46,46,46);
}
#back-to-top{
    height: 58px;
    width: 58px;
    font-size: 18px;
    line-height: 58px;
    font-family: "黑体",sans-serif;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgb(23,23,23);
    cursor: pointer;
}


/*圈子头部信息*/
.circle{
    width: 1100px;
    height: 120px;
    margin: 20px auto;
}
.circle-main{
    margin: 0 auto;
    width: 1024px;
    height: 120px;
    border-top: 1px solid darkgrey;
}
.circle-headportrait{
    margin-left: 14px;
    margin-top: 10px;
    height: 110px;
    width: 110px;
    border: 1px solid darkgrey;
    float: left;
}
.circle-information{
    margin-top: 10px;
    margin-left: 14px;
    height: 120px;
    width: 805px;
    float: left;
}
.circle-information-title{
    height: 75px;
    width: 805px;
    border-bottom: 2px solid rgb(23,23,23);
}
.circle-name{
    margin-top: 35px;
    min-width: 100px !important;
    max-width: 200px;
    height: 40px;
    color:#000000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    float: left;

}
.circle-information-title a.button{
    width: 60px;
    height: 25px;
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 4px;
    background: rgb(23,23,23);
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    float: left;
}
.circle-information-location{
    position: relative;
    min-width: 200px !important;
    max-width: 500px;
    height: 75px;
    float: left;
}
.circle-information-location-img{
    position: absolute;
    top: 53px;
    left: 5px;
    height: 20px;
    width: 20px;
}
.circle-information-location-word{
    position: absolute;
    top: 53px;
    left: 30px;
    font-size: 15px;

}
.circle-description{
    margin-top: 10px;
    margin-left: 5px;
    height: 25px;
    width: 798px;;
}
.circle-people{
    height: 25px;
    width: 300px;
    float: left;
}
.circle-post{
    height: 25px;
    width: 300px;
    float: left;
}
/*游戏选择*/
#select{
    height: 47px;
    width: 100%;
    margin-top: 20px;
}
.select-main{
    height: 40px;
    margin: 0 auto;
    min-width: 100px !important;
    max-width: 1025px;
}
.select-main a{
    width: 100px;
    height: 35px;
    float: left;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 2px solid darkgrey;
}
.select-main a:hover{
    background: rgb(23,23,23);
    color: rgb(230,230,230);
}
#select-more{
    margin: 5px auto;
    height: 100px;
    width: 1024px;
    border: 1px solid darkgrey;
    display: none;
}
/*圈子主体*/


#circlesquare{
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.circlesquare-main{
    margin: 0 auto;
    height: auto;
    width: 1024px;
}
/*圈子主体左部分*/
.circlesquare-left{
    height: 700px;
    width: 200px;
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    float: left;
    background: rgb(46,46,46);
}
.circlesquare-user{
    position: relative;
    height: 150px;
    width: 199px;
}
.user-headportrait{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.user-name{
    position: absolute;
    top: 15px;
    left: 95px;
    font-size: 16px;
    color: white;
}
.user-grade{
    position: absolute;
    top: 35px;
    left: 95px;
    font-size: 15px;
    color: darkorange;
}
.user-autograph{
    position: absolute;
    top: 85px;
    left: 15px;
    margin-right: 15px;
    font-size: 14px;
    color: white;
}
.circlesquare-bar{
    width: 199px;
    height: 252px;
}
.circlesquare-bar li{
    width: 100px;
    height: 40px;
    background:rgb(23,23,23);
    margin-bottom: 2px;
    cursor: pointer;
    transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}
.circlesquare-bar li:hover{
    width: 199px;
}
.active{
    width: 199px;
    height: 40px;
    background:blue;
}
.circlesquare-bar a{
    font-size: 16px;
    height: 40px;
    width: 60px;
    color: white;
    line-height: 40px;
    margin-left: 10px;
}
/*圈子主体右部分*/
.circlesquare-center{
    height: auto;
    width: 810px;
    margin-left: 10px;
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    float: left;
}
.conter-main{
    height: auto;
    width: 810px;
}
.conter-post{
    margin: 5px auto;
    width: 800px;
    min-height: 110px !important;
    max-height: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s;
}
.post-left{
    min-height: 110px !important;
    max-height: 200px;
    width: 150px;
    float: left;
    overflow: hidden;
}
.post-left-main{
    position: absolute;
    min-height: 100px;
    max-height: 200px;
    width: 150px;
}
.post-headportrait{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.post-discussion{
    position: absolute;
    top: 75px;
    left: 10px;
    width: 28px;
    height: 22px;
}
.post-joinin{
    position: absolute;
    top: 75px;
    left: 40px;
    font-size: 15px;
}
.post-lastpost{
    position: absolute;
    top: 105px;
    left: 10px;
    width: 28px;
    height: 22px;
    margin-bottom: 5px;
}
.post-lasttime{
    position: absolute;
    top: 105px;
    left: 40px;
    font-size: 15px;
}
.post-right{
    min-height: 110px !important;
    max-height: 200px;
    width: 650px;
    float: left;
}
.post-game{
    position: relative;
    margin-top: 5px;
    margin-left: 14px;
    height: 15px;
    width: 630px;
    font-size: 15px;
}
.post-admin-boutique{
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 15px;
    color: blue;
}
.post-admin-delete{
    text-align: center;
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: red;
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 13px;
    cursor: pointer;
}
.post-admin-boutique:hover{
    text-decoration: underline;
}
.post-admin-delete:hover{
    text-decoration: underline;
}
.post-title{
    margin-left: 14px;
    margin-top: 5px;
    height: 29px;
    width: 600px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(23,23,23);
}
.post-title:hover{
    color: deepskyblue;
}
.post-title:hover{
    text-decoration: underline;
}

.post-content{
    margin-left: 14px;
    margin-top: 5px;
    min-height: 20px !important;
    max-height: 103px;
    width: 600px;
    font-size: 15px;
    overflow: hidden;
    border: 1px solid darkgrey;
}
.post-postpic-main{
    width: 600px;
    height: 102px;
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-postpic{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    float: left;
}
/*精品页面*/
.center-fine{
    margin: 5px auto;
    width: 800px;
    min-height: 110px !important;
    max-height: 220px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s;
}
.fine{
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 15px;
}
.fine-information{
    position: relative;
    height: 40px;
    width: 600px;
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fine-joinin{
    position: absolute;
    top: 0;
    left: 250px;
    font-size: 15px;
}
.fine-lasttime{
    position: absolute;
    top: 0;
    left: 350px;
    font-size: 15px;
}
/*@我页面*/
.mention{
    margin: 5px auto;
    width: 800px;
    min-height: 110px !important;
    max-height: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    overflow: hidden;
}
.mention-left{
    min-height: 110px !important;
    max-height: 200px;
    width: 150px;
    float: left;
    overflow: hidden;
}
.mention-left-main{
    position: absolute;
    min-height: 100px!important;
    max-height: 200px;
    width: 150px;
}
.mention-headportrait{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.mention-name{
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 15px;
}
.mention-right{
    min-height: 110px !important;
    max-height: 200px;
    width: 650px;
    float: left;
}
.mention-title{
    margin-left: 14px;
    margin-top: 5px;
    height: 25px;
    width: 600px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(23,23,23);
}
.mention-content{
    margin-left: 14px;
    margin-top: 5px;
    min-height: 20px !important;
    max-height: 43px;
    width: 600px;
    font-size: 15px;
    border: 1px solid darkgrey;
}
.mention-mention{
    margin-left: 14px;
    margin-top: 5px;
    height: 20px;
    width: 600px;
    font-size: 15px;
}
.mention-information{
    position: relative;
    height: 20px;
    width: 600px;
    margin-left: 14px;
    margin-top: 5px;
}
.mention-time{
    position: absolute;
    top: 0;
    left: 400px;
    font-size: 15px;
}
.reply{
    width: 55px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background: rgb(23,23,23);
}
/*回复我*/
.tellme{
    margin: 5px auto;
    width: 800px;
    min-height: 110px !important;
    max-height: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
.tellme-left{
    min-height: 110px !important;
    max-height: 200px;
    width: 150px;
    float: left;
    overflow: hidden;
}
.tellme-left-main{
    position: absolute;
    min-height: 100px!important;
    max-height: 200px;
    width: 150px;
}
.tellme-headportrait{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.tellme-name{
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 15px;
}
.tellme-right{
    min-height: 110px !important;
    max-height: 200px;
    width: 650px;
    float: left;
}
.tellme-title{
    margin-left: 14px;
    margin-top: 5px;
    height: 25px;
    width: 600px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(23,23,23);
}
.tellme-content{
    margin-left: 14px;
    margin-top: 5px;
    min-height: 20px !important;
    max-height: 43px;
    width: 600px;
    font-size: 15px;
    border: 1px solid darkgrey;
}
.tellme-tell{
    margin-left: 14px;
    margin-top: 5px;
    height: 20px;
    width: 600px;
    font-size: 15px;
}
.tellme-information{
    position: relative;
    height: 20px;
    width: 600px;
    margin-left: 14px;
    margin-top: 5px;
}
.tellme-time{
    position: absolute;
    top: 0;
    left: 400px;
    font-size: 15px;
}
/*私信界面*/
/*.dm{
    margin: 5px auto;
    width: 800px;
    min-height: 110px !important;
    max-height: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
.dm-left{
    min-height: 110px !important;
    max-height: 200px;
    width: 150px;
    float: left;
    overflow: hidden;
}
.dm-left-main{
    position: absolute;
    min-height: 100px!important;
    max-height: 200px;
    width: 150px;
}
.dm-headportrait{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.dm-time{
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 15px;
}
.dm-right{
    min-height: 110px !important;
    max-height: 200px;
    width: 650px;
    float: left;
}
.dm-content{
    margin-left: 14px;
    margin-top: 5px;
    min-height: 20px !important;
    max-height: 43px;
    width: 600px;
    font-size: 15px;
    border: 1px solid darkgrey;
}*/
/*等级排行*/
.graderank-title{
    margin-left: 14px;
    margin-top: 5px;
    height: 25px;
    width: 790px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(23,23,23);
}
.graderank-content{
    margin-left: 14px;
    margin-top: 5px;
    height: 600px;
    width: 790px;
}
table {
    position:absolute;
    margin-top:50px;
    margin-left:100px;
    border-collapse:collapse;
}
table tr th,table tr td{
    width:120px;
    height:56px;
    border:1px solid #6a7d62;
    text-align:center;
}
table tr th
{
    background-color:#c2dee2;
}

/*发帖*/
#gray{width:100%;height:100%;position:fixed;background:rgba(0,0,0,0.5);top:0;left:0;display:none;}
.main{
    position: relative;
    width: 700px;
    height: 380px;
    overflow: hidden;
    border: 1px solid darkseagreen;
    background: salmon;
    display: none;
}
#close{
    position:absolute;
    top:5px;
    right:5px;
    width:15px;
    height:15px;
}
.postnote-select{
    margin-top: 5px;
    height: 70px;
    width: 700px;
}
.select-modules{
    position: relative;
    height: 70px;
    width: 200px;
    float: left;
}
.select-modules p{
    position: absolute;
    top: 20px;
    left: 10px;
    height:30px;
    width:60px;
    text-align:center;
    font-size:18px;
    line-height:30px;
    font-weight:bold;
}
.select-modules select{
    position: absolute;
    top: 20px;
    left: 65px;
    text-align:center;
    font-size:15px;
    line-height:30px;
    border:1px solid gray;
    border-radius:3px;
    height:30px;
    width:100px;
}
.select-modules select option{
    height:30px;
    width:100px;
}
.select-main{
    position: relative;
    height: 33px;
    width: 700px;
    margin-top: 10px;
}
.select-title{
    position: absolute;
    left: 10px;
    font-size: 20px;
    line-height: 33px;
    font-weight: bolder;
}
.select-main input{
    position: absolute;
    left: 65px;
    height:32px;
    width:600px;
    border:1px solid darkgray;
}
.postnote-content{
    position: relative;
    width: 700px;
    height: 200px;
    margin-top: 10px;
}
.postnote-content-title{
    position: absolute;
    left: 10px;
    font-size: 20px;
    line-height: 33px;
    font-weight: bolder;
}
.postnote-content textarea{
    position: absolute;
    left: 65px;
    height:200px;
    width:600px;
    border:1px solid darkgray;
}
.postnote-post{
    position: absolute;
    bottom: 10px;
    right: 32px;
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
}
.postnote-post input{
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    cursor: pointer;
}
