<!DOCTYPE html>
<html  onselectstart="return false">
<head lang="en">
    <meta charset="UTF-8">
    <title>游戏圈子-首页</title>
    <link rel="icon" href="../../../Public/images/icon.ico" >
    <style>
    </style>
</head>
<body>
     这里是自己的网站主页<a href="/cog/index.php/Home/Follow/entrance?userid={$userid}">{$user_name}的个人中心</a>
    <script type="text/javascript" src="{$Think.const.HOME_JS}test/jquery.js"></script>
    <script type="text/javascript" src="{$Think.const.HOME_JS}test/jquery.form.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>