<!DOCTYPE html>
<html  onselectstart="return false">
<head lang="en">
    <meta charset="UTF-8">
    <title>游戏圈子-首页</title>
    <link rel="icon" href="../../../Public/images/icon.ico" >
    <style>
    </style>
</head>
<body>
	  <form method="post" action="/cog/index.php/Home/Follow/login_pro">
      <input type="text" name="username" >
      <input type="text" name="password" >
      <input type="submit" name="submit" value="登录">
    </form>
    <script type="text/javascript" src="{$Think.const.HOME_JS}test/jquery.js"></script>
    <script type="text/javascript" src="{$Think.const.HOME_JS}test/jquery.form.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>